<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YUSIR地图定位切换城市.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB476D741CA5704B00E31477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB476D8D1CA5704B00E31477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB476D981CA5704B00E31477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
